.App {
  text-align: center;
  border: 1px solid black;
  width: 100%;
}
.App h1 {
  color: red;
}
img {
  width: 10;
  height: 10;
}
.comment-form-fields{
  background-color: #99f;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  width: 388px
}
.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #99f;
  border: 1px solid black;
  height: 200px;

}
.show-contents-button {
  margin-top: 20px;
  height: 30px;
  width: 150px;
}
